<div class="<%= "weather_card_container" if locals[:result_text].present? %>">
    <h3 style="text-align: center;"><%= locals[:result_text] %></h3>
    <div class="weather_card">
        <div class="weather_card_header">
            <%= locals[:weather_forecast].zip_code.city %>, <%= locals[:weather_forecast].zip_code.state %><br/>
        </div>
        <div class="weather_card_body" style="display: flex; align-items: center;">
            <%= image_tag locals[:weather_forecast]&.condition_icon || "https://cdn.weatherapi.com/weather/64x64/day/113.png" %>
            <div class="weather_card_body_text">
                <p><%= locals[:weather_forecast].condition %></p>
                <p>Current Temp: <%= locals[:weather_forecast].current_temp %>째 F</p>
                <p>Feels like: <%= locals[:weather_forecast].feels_like %>째 F</p>
            </div>
        </div>
        <div class="weather_card_footer">
            <p>Max: <%= locals[:weather_forecast].high_temp %>째 F</p>
            <p>Min: <%= locals[:weather_forecast].low_temp %>째 F</p>
        </div>
        <div style="text-align: center; margin-top: 5px;">
            <small><%= "Data loaded from cache" if locals[:cache_hit] %></small>
        </div>
    </div>
</div>
