
<% if flash.now[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
  </div>
<% end %>

<div class="search-container">
  <%= form_with url: weather_forecasts_search_path, method: :get, remote: true, class: "search-form", data: { turbo: false } do %>
    <%= text_field_tag :address, nil, placeholder: "Enter address", class: "search-input" %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>
</div>


<div class="weather-forecast-list">
  <%= render "weather_forecasts/weather_forecasts",
    locals: {
      weather_forecast: @weather_forecast,
      result_text: "Weather Search Result For:",
      cache_hit: @cache_hit
    } if @weather_forecast.present?
  %>
  <% @weather_forecasts.each do |weather_forecast| %>
    <%= render "weather_forecasts/weather_forecasts", locals: { weather_forecast: weather_forecast } %>
  <% end %>
</div>
